<!DOCTYPE html>
<html>
    <head>
        <title>5HOP5</title>
        <link rel='stylesheet' type='text/css' href='/app.css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>


<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">5HOP5</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="/">Home</a></li>
            <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">Categories
                <span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/categories/newarrivals">New Arrivals</a></li>
                    <li><a href="/categories/womens">Womens</a></li>
                    <li><a href="/categories/mens">Mens</a></li>
                    <li><a href="/categories/electronics">Electronics</a></li>
                    <li><a href="/categories/giftcards">Gift Certificates</a></li>
                    <li><a href="/categories/topsellers">Top Sellers</a></li>
                </ul>
            </li>
        </ul>
        <form autocomplete="off" action="/productSearch" method="GET" class="navbar-form navbar-right">
                <input type="text" placeholder="Search" name="search" class="form-control">
                <button type="submit" class="btn btn-success">Search</button>
        </form>
  </div>
</nav>














        

