<% include partials/header %>
<div class="container">


<h1>Electronics</h1>
<% electronic['categories'].forEach(function(electronic){ %>
    <li><%= electronic['name'] %></li>
<% }) %>


</div>
<% include partials/footer %>