
<% include partials/header %>

<!DOCTYPE html>
<html>
<head>
  <title>5hop5</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
</head>

<body> 
<div class="jumbotron">
  <div class="container">
    <h2>Welcome to 5HOP5</h2>
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      </ol>
    <div class="carousel-inner" role="listbox">
    <div class="carousel-item active">
      <img class="d-block img-fluid" src="http://lyons5.evaluation.dw.demandware.net/on/demandware.static/-/Sites-storefront-catalog-en/default/dw77aca345/images/slot/sub_banners/cat-banner-womens-clothing.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block img-fluid" src="http://lyons5.evaluation.dw.demandware.net/on/demandware.static/-/Sites-storefront-catalog-en/default/dwfdfd3954/images/slot/landing/cat-landing-slotbanner-womens.jpg" alt="Second slide">
    </div>
  </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>
</div>
</div>


  <div class="row">
    <div class="col-sm-12">
      <h2 style="text-align:center;">New Arrivals</h2>
        <p><a href='/categories/newarrivals'><img src="http://lyons5.evaluation.dw.demandware.net/on/demandware.static/-/Sites-storefront-catalog-en/default/dw54019ee6/images/slot/sub_banners/cat-banner-mens-clothing.jpg"></a></p>
      </div>
      </div>

<div class="row">
      <div class="col-sm-12">
        <h2 style="text-align:center;">Womens</h2>
        <p style="text-align:right"><a href="/categories/womens"><img id="flip" src="http://lyons5.evaluation.dw.demandware.net/on/demandware.static/-/Sites-storefront-catalog-en/default/dw5b4de4a5/images/slot/sub_banners/cat-banner-womens-outfits.jpg"></a></p>
      </div>
      </div>

      <div class="row">
      <div class="col-sm-12">
        <h2 style="text-align:center;">Mens</h2>
        <p><a href="/categories/mens"><img src="http://lyons5.evaluation.dw.demandware.net/on/demandware.static/-/Sites-storefront-catalog-en/default/dwad92d5d4/images/slot/sub_banners/cat-banner-mens-shorts.jpg"></a></p>
      </div>
      </div>


<div class="row">
      <div class="col-sm-12">
        <h2 style="text-align:center;">Electronics</h2>
        <p style="text-align:right"><a href="/categories/electronics"><img id="flip" src="http://lyons5.evaluation.dw.demandware.net/on/demandware.static/-/Sites-storefront-catalog-en/default/dw7e9353db/images/slot/sub_banners/cat-banner-electronics-mp3.jpg"></a></p>
      </div>
      </div>


<div class="row">
      <div class="col-sm-12">
        <h2 style="text-align:center;">Gift Cards</h2>
        <p style="text-align:center;"><a href="/categories/giftcards"><img src="https://northsideshoppingcentre.ie/wp-content/uploads/2016/08/northsidebannergiftcard-banner.jpg"></a></p>
      </div>
      </div>


<div class="row">
      <div class="col-sm-12">
        <h2 style="text-align:center;">Top Sellers</h2>
        <p style="text-align:center"><a href="/categories/topsellers"><img id="flip" src="http://lyons5.evaluation.dw.demandware.net/on/demandware.static/-/Sites-storefront-catalog-en/default/dwc0c2319d/images/slot/sub_banners/cat-banner-mens-jackets.jpg"></a></p>
     </div>
      </div>


</body>
</html>
<% include partials/footer %>