<% include partials/header %>
<div class="container">


<h1>Men's Clothing</h1>
<% men['categories'].forEach(function(men){ %>
    <li><%= men['name'] %></li>
<% }) %>


</div>
<% include partials/footer %>