<% include partials/header %>
<div class="container">


<h1>New Arrivals</h1>
<% arrival['categories'].forEach(function(arrivals){ %>
    <li><%= arrivals['name'] %></li>
<% }) %>


</div>
<% include partials/footer %>