
<% include partials/header %>
<div class="container">
<h1>Playstation 3 Bundle</h1>
<h4>Category: electronics-game-consoles</h4>
<hr>
<img src='http://cdn1-www.playstationlifestyle.net/assets/uploads/2010/01/Heavy-Rain-Ps3-bundle.jpg'>


<% data['data'].forEach(function(ps3){ %>
    <h3><%= ps3['brand'] %></h3>
    <h3>$<%= ps3['price'] %>.00</h3>
<% }) %>




</div>
<% include partials/footer %>