
<% include partials/header %>
<div class="container">
<h1>Search Results</h1>

<% data['hits'].forEach(function(searchProduct) { %>
   <a href="/sony_ps3_bundle"><li><%= searchProduct['product_name'] %></li></a>

<% }) %>




</div>
<% include partials/footer %>