<% include partials/header %>
<div class="container">


<h1>Women's Clothing</h1>
<% women['categories'].forEach(function(women){ %>
    <li><%= women['name'] %></li>
<% }) %>


</div>
<% include partials/footer %>